@charset "UTF-8";
/* CSS Document */
a:hover{
	text-decoration: none;
}

body{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.col-sm-3 img { 
	border:2px solid #4bf5ef;
	margin-left: 30px;
	float: right;
}

.main_p {
	margin: 30px;
}

.container-fluid .featured .col-sm-8 .main_p {
	margin-bottom: 70px;
}

.main_p p{
    text-align: justify;
}

.title .col-sm-8{
	margin: 20px;
}

.title{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	margin: 30px;
	color: floralwhite;
}

.title a {
	color: rgb(156, 232, 251);
}

.links {
	margin-top: 32px;
	text-align: center;
	font-weight: bold;
}

.links a{
	font-size: 15px;
	color: floralwhite;
}

.footer {
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.row_each {
	height: inherit;
}

body a{
	color: #16bef6;
}

.copyright p{
	color: floralwhite;
	font-size: 10px;
}

.container-fluid .featured .row .col-sm-3 .row .social {
	margin-bottom: 60px;
}

.container-fluid .featured .row .col-sm-8 .video_section{
	padding-bottom: 70px; 
}

.profile_image img{
	margin-top: 20px;
	margin-bottom: 20px;
}
